    <div class="wrapper">
      <div class="sidebar">
        <div class="header">
          <div class="header__name">
            <h3>山本</h3>
          </div><!-- header__name -->
          <ul class="header__lists">
            <li class="list">
              <%= link_to '', :method => :get do %>
                <i class="fa fa-pencil-square-o icon"></i>
              <% end %>
            </li>
            <li class="list">
              <%= link_to '', :method => :get do %>
                <i class="fa fa-cog icon"></i>
              <% end %>
            </li>
          </ul><!-- header__lists -->
        </div><!-- header -->

        <div class="groups">
          <div class="group">
            <div class="group__name">
              <p>サンプル</p>
            </div><!-- group__name -->
            <div class="group__message">
              <p>テストメッセージです。。。</p>
            </div><!-- group__message -->
          </div><!-- group -->
          <div class="group">
            <div class="group__name">
              <p>サンプル</p>
            </div><!-- group__name -->
            <div class="group__message">
              <p>テストメッセージです。。。</p>
            </div><!-- group__message -->
          </div><!-- group -->
        </div><!-- groups -->
      </div><!-- sidebar -->

      <div class="main">
        <div class="header">
          <div class="header-members">
            <div class="header-members__title">
              <p>サンプル</p>
            </div><!-- header-members__title -->
            <ul class="header-members__names">
              Menber:
              <li class="name">山本</li>
            </ul><!-- header-members__names -->
          </div><!-- header-members -->
          <div class="header-edit">
            <%= link_to 'Edit', "", class: "header-edit__button", method: :get %>
          </div><!-- header-edit -->
        </div><!-- header -->
        <div class="messages">
          <div class="message">
            <div class="message-top">
              <div class="message-top__user-name">
                <p>山本</p>
              </div>
              <div class="message-top__date">
                <p>2017/07/10 11:20</p>
              </div>
            </div><!-- message-top -->
            <div class="message-bottom">
              <p class="message-bottom__content">これはサンプルです。。。</p>
            </div><!-- message-bottom -->
          </div><!-- message -->
          <div class="message">
            <div class="message-top">
              <div class="message-top__user-name">
                <p>山本</p>
              </div>
              <div class="message-top__date">
                <p>2017/07/10 11:20</p>
              </div>
            </div><!-- message-top -->
            <div class="message-bottom">
              <p class="message-bottom__content">これはサンプルです。。。</p>
            </div><!-- message-bottom -->
          </div><!-- message -->

        </div><!-- messages -->
        <div class="form">
          <form class="" action="index.html" method="post">
            <input class="form__message" type="text" name="form__message" value="type a message">
            <div class="form__img">
              <label class="form__img__icon" for="message_image">
              <i class="fa fa-picture-o fa-4x"></i>
              <input class="hidden" type="file" name="message[image]" id="message_image">
              </label>
            </div>

            <input class="form__submit" type="submit" name="commit" value="Send">
          </form>
        </div><!-- form -->
      </div><!-- main -->
    </div><!-- wrapper -->
